secrets.yaml
home-assistant_v2.db
home-assistant.log
*.gz
*.bak
known_devices.yaml
entity_registry.yaml
emulated_hue_ids.json
.cloud/production_auth.json
.storage/core.config_entries
ui-lovelace.yaml.*
